* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
:root {
  /* 基础颜色变量定义 */
  --klein-blue: rgb(0, 47, 167); /* 克莱因蓝 */
  --pure-red: #ff0000; /* 正红色 */
  --pure-black: #000000; /* 纯黑色 */
  --pure-white: #ffffff; /* 纯白色 */
  --lemon-yellow: #ffff00; /* 柠檬黄 */
  --grass-green: #00ff00; /* 草绿色 */
  --sky-blue: #87ceeb; /* 天蓝色 */
  --deep-purple: #800080; /* 深紫色 */
  --chocolate-brown: #d2691e; /* 巧克力棕 */
  --rose-pink: #ff69b4; /* 玫瑰粉 */
  --bordeaux-red: #800020; /* 波尔多红（经典暗红） */
  --bordeaux-dark: #5c0011; /* 深波尔多红 */
  --bordeaux-light: #a52639; /* 浅波尔多红 */

  --klein-blue-50: rgba(0, 47, 167, 0.5);
}

html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
}
.el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell {
  @apply bg-blue;
}

// 高亮点击行
.highlighted-row td.el-table__cell {
  @apply bg-sky-blue;
}

.highlighted-row2 {
  @apply bg-rose;
}

// 高亮colum
.high-colum {
  @apply bg-sky-blue text-bordeaux-dark!;
  font-weight: bold;
}

.header-highlight-n {
  @apply bg-klein-blue text-blueGray;
}
// .header-highlight-h {
//   @apply bg-klein-blue text-blueGray;
// }
.comma-cell-single,
.comma-header {
  @apply text-sky;
}
.comma-cell-double {
  background-color: #ffe4ec;
  color: #e33 !important;
  font-weight: bold;
}

.el-table--small .cell {
  padding: 0;
  text-align: center;
  line-height: 18px;
  height: 18px;
}
.el-table--small .el-table__cell {
  padding: 0;
}
.el-scrollbar__bar.is-vertical {
  width: 0;
}
