* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
}
// 高亮点击行
.highlighted-row .cell {
  @apply bg-klein-blue text-lemon-yellow;
}

// 高亮前区
.cell-highlight-n-primary {
  @apply bg-bordeaux-red text-lemon-yellow;
  font-weight: bold;
}

// 高亮后区
.cell-highlight-h-primary {
  @apply bg-klein-blue text-lemon-yellow;
  font-weight: bold;
}

.comma-cell-double {
  background-color: #ffe4ec;
  color: #e33;
  font-weight: bold;
}

.el-table--small .cell {
  padding: 0;
  text-align: center;
}
.el-table--small .el-table__cell {
  padding: 0;
}
